<li>
    <a href="/dashboard/Lab/">Create New Lab</a>
</li>
<li>
    <a href="/dashboard/Experimenter/">Create New Experimenter</a>
</li>
<li>
    <a href="/dashboard/Strain/">Create New Strain</a>
</li>
<li>
    <a href="/dashboard/Worm/">Create New Worm</a>
</li>
<li>
    <a href="/dashboard/Wormlist/">Add Worm to Worm List</a>
</li>
<li>
    <a href="/dashboard/Plate/">Create New Plate</a>
</li>
<li>
    <a href="/videoupload">Video Upload</a>
</li>
<li>
    <a href="/dashboard/Computervisionalgorithm/">Create Computer Vision Algorithm</a>
</li>
<li>
    <a href="/dashboard/Platewireframevideo/">Create Plate Wireframe Video Entry</a>
</li>
<li>
    <a href="/dashboard/Wormwireframevideo/">Create Worm Wireframe Video Entry</a>
</li>
<li>
    <a href="/dashboard/Worminteraction/">Add Worm Interaction</a>
</li>
<li>
    <a href="/dashboard/Wormmeasurement/">Define Worm Measurement</a>
</li>
<li>
    <a href="/dashboard/Measurementsperwormwireframe/">Create Worm Measurement List</a>
</li>
<li>
    <a href="/dashboard/Platefeature/">Define Plate Feature</a>
</li>
<li>
    <a href="/dashboard/Featuresperplatewireframe/">Create Plate Feature List</a>
</li>
<li>
    <a href="/dashboard/Aspect/">Define Worm Feature Aspect</a>
</li>
<li>
    <a href="/dashboard/Bodypart/">Define Worm Feature Body Part</a>
</li>
<li>
    <a href="/dashboard/Category/">Define Worm Feature Category</a>
</li>
<li>
    <a href="/dashboard/Type/">Define Worm Feature Type</a>
</li>
<li>
    <a href="/dashboard/Direction/">Define Worm Feature/Histogram Direction</a>
</li>
<li>
    <a href="/dashboard/Wormfeature/">Define Worm Feature</a>
</li>
<li>
    <a href="/dashboard/Featuresperwormwireframe/">Create Worm Feature List</a>
</li>
<li>
    <a href="/dashboard/Sign/">Define Histogram Sign</a>
</li>
<li>
    <a href="/dashboard/Histogramsperwormwireframe/">Create Worm Histogram List</a>
</li>