<li>
    <a href="/api/Lab/">Create New Lab</a>
</li>
<li>
    <a href="/api/Experimenter/">Create New Experimenter</a>
</li>
<li>
    <a href="/api/Strain/">Create New Strain</a>
</li>
<li>
    <a href="/api/Worm/">Create New Worm</a>
</li>
<li>
    <a href="/api/Wormlist/">Add Worm to Worm List</a>
</li>
<li>
    <a href="/api/Plate/">Create New Plate</a>
</li>
<li>
    <a href="/videoupload">Video Upload</a>
</li>
<li>
    <a href="/api/Computervisonalgorithm/">Create Computer Vision Algorithm</a>
</li>
<li>
    <a href="/api/Platewireframevideo/">Create Plate Wireframe Video Entry</a>
</li>
<li>
    <a href="/api/Wormwireframevideo/">Create Worm Wireframe Video Entry</a>
</li>
<li>
    <a href="/api/Worminteration/">Add Worm Interaction</a>
</li>
<li>
    <a href="/api/Wormmeasurement/">Define Worm Measurement</a>
</li>
<li>
    <a href="/api/Measurementsperwormwireframe/">Create Worm Measurement List</a>
</li>
<li>
    <a href="/api/Platefeature/">Define Plate Feature</a>
</li>
<li>
    <a href="/api/Featuresperplatewireframe/">Create Plate Feature List</a>
</li>
<li>
    <a href="/api/Aspect/">Define Worm Feature Aspect</a>
</li>
<li>
    <a href="/api/Bodypart/">Define Worm Feature Body Part</a>
</li>
<li>
    <a href="/api/Category/">Define Worm Feature Category</a>
</li>
<li>
    <a href="/api/Type/">Define Worm Feature Type</a>
</li>
<li>
    <a href="/api/Direction/">Define Worm Feature/Histogram Direction</a>
</li>
<li>
    <a href="/api/Wormfeature/">Define Worm Feature</a>
</li>
<li>
    <a href="/api/Featuresperwormwireframe/">Create Worm Feature List</a>
</li>
<li>
    <a href="/api/Sign/">Define Histogram Sign</a>
</li>
<li>
    <a href="/api/Histogramsperwormwireframe/">Create Worm Histogram List</a>
</li>